# Node.js

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules/

# ngBug

dist
.tmp
.idea
.nodemon
.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
logs/*
!.gitkeep

# Front-end libs - Ignore the ones that can be restored by bower and npm (the same)
app/libs/angular
app/libs/angular-animate
app/libs/angular-aria
app/libs/angular-jwt
app/libs/angular-loading-bar
app/libs/angular-material
app/libs/angular-messages
app/libs/angular-mocks
app/libs/angular-resource
app/libs/angular-sanitize
app/libs/angular-signalr-hub
app/libs/angular-ui-router
app/libs/es5-shim
app/libs/font-awesome
app/libs/jquery
app/libs/json3
app/libs/ngstorage

# IntelliJ IDEA

.idea/
ngBug.iml