<md-card>
  <md-card-header>
    <md-card-header-text>
      <md-toolbar layout="row">
        <div class="md-toolbar-tools">
          <span class="md-title">Support Wheel of Fate - BAU</span>
        </div>
      </md-toolbar>
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <p>The objetive of this project was to fullfill a position with Richmond Group for a .NET Senior Architecture Development. To test my knowledge the following taks has been assigned:</p>

    <h3>Summary</h3>
    <p>
      Design and build the “Support Wheel of Fate”
    </p>
    <h3>Background</h3>

    <p>
      At one of our companies, all engineers take it in turns to support the business for half a day at a
      time. This is affectionately known as BAU.
      Currently, there is no tool which decides who is doing BAU and when, all rotas are created and
      maintained by hand.
    </p>
    <h3>Task</h3>
    <p>
      Your task is to design and build an online “Support Wheel of Fate”.
      This should select two engineers at random to both complete a half day of support each. For the
      purposes of this task you are free to assume that we have 10 engineers.
    </p>
    <h3>Business Rules</h3>
    <p>
      There are some rules and these are liable to change in the future:
      - An engineer can do at most one half day shift in a day.
      - An engineer cannot have half day shifts on consecutive days.
      - Each engineer should have completed one whole day of support in any 2 week period.
    </p>
    <h3>Deliverables</h3>
    <p>
      At the end of the task, the following must be included:
      - A Presentation Layer (Front End)
      - An API
    </p>
    <p>
      It is also important that you document your decisions as you will be expected to talk through your
      approach.
    </p>
    <h3>Rules</h3>
    <p>
      The rules are as follows:
      1. There is no time limit
      2. You are free to use the internet for research, inspiration and help
      3. The solution should built using C#.
    </p>
    <md-card-content>
</md-card>

