<md-card>
    <md-card-content>
        <md-list>
            <md-list-item class="md-2-line animate-item" ng-repeat="item in comment.data.commentsList track by item.intIdComment | orderBy:'dteCreated'" >
                <md-divider ng-if="$index > -1 && comment.data.commentsList.length > 1"></md-divider>
                <div class="md-list-item-text" layout="column" layout-align="start" style="padding-top:10px;padding-bottom:10px;">
                    <small layout="column" style="display:block;">
                        <span class="breakLines">{{item.txtComment }}</span><br /><br />
                        <span style="color:gray;">{{ item.dteCreated | date:"MM/dd/yyyy 'at' h:mma"}} - {{item.strFullNameCreated}}</span>
                    </small>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
