<br />
TESTE: Usuario Atual<br />
<span>{{sample.dados.currentUser}}</span>


<div class="container">
    <h3>Exemplo de integração com a tabela 'Sample'</h3>
    <br/>
    <form>
        <div class="form-group">
            <label for="txtNome">Nome do Sample:</label>
            <input type="text" class="form-control" id="txtNome" placeholder="Informe o nome do sample" data-ng-model="sample.dados.sample.nome" data-ng-required="true">
        </div>
        <div class="form-group">
            <label for="txtTelefone">Telefone:</label>
            <input type="text" class="form-control" id="txtTelefone" placeholder="(999) 9999-9999" data-ng-model="sample.dados.sample.telefone" data-ng-required="true">
        </div>
        
        <div class="form-group">
            <label for="txtData">Data:</label>
            <input type="date" class="form-control" id="txtData" data-ng-model="sample.dados.sample.data">
        </div>
        <br/>
        <button data-ng-if="!sample.dados.sample.sample_id" class="btn btn-success" data-ng-click="sample.salvarSample(sample.dados.sample)">Incluir</button>
        <button data-ng-if="sample.dados.sample.sample_id" class="btn btn-success" data-ng-click="sample.salvarSample(sample.dados.sample)">Atualizar</button>
        <button data-ng-if="sample.dados.sample.sample_id" class="btn btn-info" data-ng-click="sample.novo()">Novo Registro</button>
    </form>

    <br />
    <hr />
    <h4>Registros já incluídos no banco:</h4>
    <br />
    <div data-ng-repeat="sample in sample.sampleList">

    </div>

    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <tr class="info">
                <td><b>Nome</b></td>
                <td><b>Telefone</b></td>
                <td><b>Ação</b></td>
            </tr>
            <tr class="active form-group">
                <td colspan="7">
                    <input type="text" class="form-control" data-ng-model="sample.filterSample" placeholder="FILTRO: Informe um nome ou telefone" />
                </td>
            </tr>
        </thead>
        <tbody>
            <tr style="cursor:pointer;" data-ng-class="{success: sampleItem.sample_id == sample.dados.sample.sample_id}"
                data-ng-repeat="sampleItem in sample.dados.samplesList | filter:sample.filterSample track by sampleItem.sample_id">
                <td>{{sampleItem.nome}}</td>
                <td>{{sampleItem.telefone}}</td>
                <td class="btn-center">
                    <a role="button" ng-click="sample.editarSample(sampleItem)"
                       class="btn btn-success btn-xs">
                        <i class="fa fa-check"> editar</i>
                    </a>
                    <a role="button" ng-click="sample.removerSample(sampleItem.sample_id)"
                       data-click-confirm="{message : 'Tem certeza que deseja apagar este registro ?', ok: 'DELETE', cancel:'CANCEL'}"
                       class="btn btn-danger btn-xs">
                        <i class="fa fa-times"> excluir</i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
