.animate-item.ng-move,
.animate-item.ng-enter,
.animate-item.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-item.ng-leave.ng-leave-active,
.animate-item.ng-move,
.animate-item.ng-enter {
  opacity:0;
}

.animate-item.ng-leave,
.animate-item.ng-move.ng-move-active,
.animate-item.ng-enter.ng-enter-active {
  opacity:1;
}
