.bgGrey{
    background-color:#e5e5e5;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.allowMouseOver:hover{
    background-color: #8C9EFF;
    cursor:pointer;
}

.breakLines {
    white-space: pre-wrap;
}