<md-card>
    <md-card-content>
        <span style="color:gray;">Total topics: {{ listTopic.topicList.length}}</span>
        <section layout="row" layout-align="end start">
            <md-button class="md-raised md-primary" ng-disabled="!listTopic.isAuthenticated()" ui-sref="topic.new" alt="New Topic">
                New Topic
            </md-button>
        </section>
        <md-list>
            <md-list-item class="md-2-line allowMouseOver animate-item" ng-repeat="item in listTopic.topicList  | orderBy:'-dteCreated' track by item.intIdTopic">
                <md-divider ng-if="$index > -1"></md-divider>
                
                <div class="md-list-item-text" layout="column" layout-align="start" ui-sref="topic.view.index({intIdTopic:{{item.intIdTopic}}})">
                    <span>
                        <h2>{{item.strTitle }}</h2>
                    </span>
                    <small layout="column">
                        <span>{{item.txtDescription | limitTo: 150}}{{item.txtDescription.length > 150 ? '...' : ''}}</span><br />
                        <span><b>{{item.intQtyComments}}</b> answers </b><md-icon ng-if="!!item.showNew">fiber_new</md-icon></span>
                        <span style="color:gray;">{{ item.dteCreated | date:"MM/dd/yyyy 'at' h:mma"}} - {{item.strFullNameCreated}}</span>
                    </small><br />
                </div>
            </md-list-item>
            
        </md-list>
    </md-card-content>
</md-card>

