<!-- Validação do form apenas pelo angular e não pelo navegador e atualiza o ng-model a cada 300 milisegundos ou no submit -->
<form name="topicForm" novalidate="novalidate" data-ng-model-options="{updateOn: 'default submit', debounce:{default:200, blur:0}}">
    <md-card>
        <md-card-content>
            <h2>New Topic</h2>
            <md-input-container flex>
                <label>Title</label>
                <textarea name="title" type="text" ng-model="topic.data.strTitle" required columns="1" rows="2" md-maxlength="150"></textarea>
                <div ng-messages="topicForm.title.$error" ng-if="topicForm.title.$touched || topicForm.$submitted" role="alert">
                    <div ng-messages-include="form-messages"></div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>Description</label>
                <textarea name="description" ng-model="topic.data.txtDescription" columns="1" rows="8" required></textarea>
                <div ng-messages="topicForm.description.$error" ng-if="topicForm.description.$touched || topicForm.$submitted" role="alert">
                    <div ng-messages-include="form-messages"></div>
                </div>
            </md-input-container>
            <md-button flex class="md-raised md-primary" ng-click="topic.save(topic.data)" ng-disabled='topicForm.$invalid'>
                Save
            </md-button>
        </md-card-content>
    </md-card>
</form>

