<!-- This component uses the following lib: https://github.com/daniel-nagy/md-data-table -->

    <!-- Title and Menu Options-->
    <md-toolbar class="md-table-toolbar md-default" ng-if="!dataList.filter.show && (!dataList.selected || dataList.selected.length == 0) && (!!dataList.config.title || !!dataList.config.enableFilter)">
        <div class="md-toolbar-tools">
            <h2 class="md-title">{{dataList.config.title | translate}}</h2>
            <div flex></div>
            <!-- Show Search field if it has showSearch on a callback function onSearch-->
            <md-button class="md-icon-button" ng-click="dataList.filter.show = true" aria-label="Show Search Filter" ng-if="!!dataList.config.enableFilter">
                <md-icon>filter_list</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <!-- Show search filter -->
    <md-toolbar class="md-table-toolbar md-default" ng-if="dataList.filter.show && !dataList.selected.length">
        <div class="md-toolbar-tools"><br />
            <ng-form flex style="padding-top:25px;" name="dataList.filter.form">
                <md-input-container class="md-icon-float md-block">
                    <label>Search</label>
                    <md-icon>search</md-icon>
                    <input autofocus ng-model="dataList.filter.value" ng-model-options="dataList.filter.options"
                           ng-change="dataList.filterChanged(dataList.filter.value)">
                </md-input-container>
            </ng-form>
            <md-button class="md-icon-button md-button" ng-click="dataList.removeFilter()" aria-label="Cancel Search Filter">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <!-- Show selected Itens-->
    <md-toolbar class="md-table-toolbar darkBlueToolBar alternate" ng-if="dataList.selected.length > 0" layout-align="space-between">
        <div class="md-toolbar-tools" layout-align="space-between">
            <div>
                {{dataList.selected.length}}&nbsp;
                <span ng-if="dataList.selected.length==1">{{ 'DATALIST.SELECTONE' | translate }}</span>
                <span ng-if="dataList.selected.length > 1">{{ 'DATALIST.SELECTMANY' | translate }}</span>
            </div>
            <md-button class="md-icon-buttom" ng-repeat="button in dataList.config.multipleItemMenu" ng-click="button.onClick(dataList.selected)"
                        aria-label="button.ariaLabel"
                        ng-attr-data-msg-confirm="button.msgConfirm">
                <md-icon ng-if="button.icon">{{button.icon}}</md-icon><span ng-if="button.name"> {{ button.name | translate}}</span>
            </md-button>
        </div>
    </md-toolbar>

    <!-- Content -->
    <md-table-container>
        <table md-table md-row-select="dataList.config.enableRowSelection" ng-model="dataList.selected"  md-progress="deferred" >
            <thead md-head md-on-reorder="dataList.orderByChanged">
                <tr md-row>
                    <th md-column md-desc ng-repeat="column in dataList.config.columns" md-order-by="{{column.field}}" md-numeric="column.isNumeric">{{column.displayName | translate}}</th>
                    <!-- Actions Menu -->
                    <th md-column ng-if="!!dataList.config.itemMenu" class="menuOptions"></th>
                </tr>
            </thead>
            <tbody md-body class="animate-item">
                <tr md-row md-select="item" md-auto-select ng-repeat="item in dataList.filteredData">
                    <td md-cell ng-repeat="column in dataList.config.columns" >{{item[column.field]}}</td>
                    <td md-cell ng-if="!!dataList.config.itemMenu" class="menuOptions">
                        <md-menu>
                            <md-button aria-label="Item Options" ng-click="$mdMenu.open($event)" md-menu-origin md-menu-align-target>
                                <md-icon>more_vert</md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="button in dataList.config.itemMenu">
                                        <md-button ng-click="button.onClick({item: item})" aria-label="button.ariaLabel"
                                                   ng-attr-data-msg-confirm="button.msgConfirm">
                                                <md-icon ng-if="button.icon">{{button.icon}}</md-icon> {{ button.name | translate}}
                                        </md-button>
                                    
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

<!-- Pagination-->
    <md-table-pagination ng-if="!!dataList.enablePagination" md-limit="dataList.pageSize" md-total="{{dataList.totalRecords}}" md-limit-options="[5, 10, 15, 20]" md-page="dataList.pageNumber" md-on-paginate="dataList.paginate" md-page-select></md-table-pagination>
