<md-card>
    <md-toolbar class="darkBlueToolBar" ng-if="!!createTabs.title">
        <div class="md-toolbar-tools">
            <span>{{createTabs.title | translate}}</span>
        </div>
    </md-toolbar>
    <md-card-content>
        <md-tabs md-selected="createTabs.currentTab" md-dynamic-height md-border-bottom>
            <md-tab ng-repeat="tab in createTabs.tabs track by tab.tabViewName" md-on-select="createTabs.onTabSelected(tab)">
                <md-tab-label>
                    <md-icon ng-if="!!tab.tabIcon" hide-gt-xs>{{tab.tabIcon}}</md-icon>
                    <md-label>{{tab.tabName | translate}}</md-label>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="md-padding" ui-view="{{tab.tabViewName}}"></md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-card-content>
</md-card>