  <div ng-repeat="(week, days) in $ctrl.scheduleShifts | groupBy: 'weekNumber'">
    <md-card>
      <md-card-header>
        <md-card-header-text>
          <span class="md-title">Week: {{week.split(',')[1]}}/{{week.split(',')[0]}}</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-content>
        <div layout-gt-sm="row">

          <div flex ng-repeat="(day, shifts) in days | groupBy: 'weekDay'">
            <md-card>
              <md-card-header>
                <md-card-header-text>
                  <span class="md-title">{{day}}</span>
                  <span class="md-subhead">{{shifts[0].dteSchedule | date:'dd/MMM/yyyy'}}</span>
                </md-card-header-text>
              </md-card-header>
              <md-card-content>
                <div ng-repeat="shift in shifts | filterBy: ['weekDay']: day">
                  {{shift.intPeriod}} - {{shift.strNameEngineer}}
                </div>
                <md-card-content>
            </md-card>
           
          </div>
        </div>
        <md-card-content>
    </md-card>
  </div>
