<!-- Validação do form apenas pelo angular e não pelo navegador e atualiza o ng-model a cada 300 milisegundos ou no submit -->
<form name="loginForm" novalidate="novalidate">
    <md-toolbar layout="row" class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <span>
                <md-icon>account_circle</md-icon> {{'AUTH.LOGIN' | translate }}
            </span>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <div style="color:darkblue;" ng-show="login.loginReason() && !login.loginError()">
            <ul>
                {{login.loginReason() | translate}}
            </ul>
        </div>
        <div style="color:red;" ng-show="login.loginError()">
            <ul>
                {{login.loginError().error_description | translate}}
            </ul>
        </div>
        <br />
        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>{{'LOGIN.EMAIL' | translate }}</label>
            <md-icon>email</md-icon>
            <!-- WebApi Oauth expects username -->
            <input name="email" type="email" ng-model="login.data.username" required>
            <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched || loginForm.$submitted" role="alert">
                <div ng-messages-include="form-messages"></div>
            </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>{{'LOGIN.PASSWORD' | translate }}</label>
            <md-icon>lock</md-icon>
            <!-- WebApi Oauth expects password -->
            <input name="password" type="password" ng-model="login.data.password" required>
            <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched || loginForm.$submitted" role="alert">
                <div ng-messages-include="form-messages"></div>
            </div>
        </md-input-container>

    </md-content>
    <md-dialog-actions>
            <md-button class="md-raised md-default" ng-click="login.closeLogin()">
                {{'GENERAL.CANCEL' | translate }}
            </md-button>
            <md-button type="submit" class="md-raised md-primary" ng-click="login.login(login.data)" ng-disabled='loginForm.$invalid'>
                {{'LOGIN.SIGNIN' | translate }}
            </md-button>
    </md-dialog-actions>
</form>




