
<md-toolbar ng-if="authMenu.isAuthenticated()" style="background-color:#8C9EFF;color:black;min-height:44px;" md-scroll-shrink>
    <div class="md-toolbar-tools" style="height:44px" layout-align="start center">
        <md-button aria-label="Show Topics" ui-sref="topic.list">
            <md-icon>list</md-icon>
            List Topics
        </md-button>
        <md-button aria-label="New Topic" ui-sref="topic.new">
            <md-icon>add_box</md-icon>
            New Topic
        </md-button>

    </div>
</md-toolbar>

