<md-dialog flex-gt-lg="50" flex-lg="65" flex-md="70" flex-sm="100" style="max-width:500px;">
    <!-- Validação do form apenas pelo angular e não pelo navegador e atualiza o ng-model a cada 300 milisegundos ou no submit -->
    <form name="loginForm" novalidate="novalidate">
        <md-dialog-content>
            <md-toolbar layout="row" class="md-whiteframe-z1">
                <div class="md-toolbar-tools">
                    <span>
                        <md-icon>account_circle</md-icon> LOGIN
                    </span>
                </div>
            </md-toolbar>
            <md-content layout-padding>
                <div style="color:darkblue;" ng-show="auth.authReason() && !auth.authError()">
                    <ul>
                        {{auth.authReason()}}
                    </ul>
                </div>
                <div style="color:red;" ng-show="auth.authError()">
                    <ul>
                        {{auth.authError().error_description}}
                    </ul>
                </div>
                <br />
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>E-mail</label>
                    <md-icon>email</md-icon>
                    <input name="email" type="email" ng-model="auth.dados.user.username" required>
                    <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched || loginForm.$submitted" role="alert">
                        <div ng-messages-include="form-messages"></div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Senha</label>
                    <md-icon>lock</md-icon>
                    <input name="password" type="password" ng-model="auth.dados.user.password" required>
                    <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched || loginForm.$submitted" role="alert">
                        <div ng-messages-include="form-messages"></div>
                    </div>
                </md-input-container>

            </md-content>
            <md-dialog-actions>
                <div layout="column">
                    <md-button flex class="md-raised md-primary" ng-click="auth.login(auth.dados.user)" ng-disabled='loginForm.$invalid'>
                        Sign in
                    </md-button>
                </div>
            </md-dialog-actions>
        </md-dialog-content>
    </form>
</md-dialog>

