<span>
  <span ng-if="!auth.isAuthenticated()">
    <md-button aria-label="Login" ng-click="auth.showLogin()">
      <md-icon>account_circle</md-icon>
      {{'AUTH.LOGIN' | translate }}
    </md-button>
    <md-button aria-label="Login" ui-sref="signup">
      <md-icon>lock</md-icon>
      {{'AUTH.SIGNUP' | translate }}
    </md-button>
  </span>
    <span ng-if="auth.isAuthenticated()">
        <md-menu>
            <md-button aria-label="User Information / Log-out" ng-click="$mdMenu.open($event)" md-menu-origin md-menu-align-target>
                <md-icon><i class="material-icons">face</i></md-icon>
                {{auth.currentUser().strFullName}}
            </md-button>
            <md-menu-content>
                <md-button aria-label="Log-out" ng-click="auth.logout()">
                    <md-icon>exit_to_app</md-icon>
                    {{'AUTH.LOGOUT' | translate }}
                </md-button>
            </md-menu-content>
        </md-menu>
    </span>
</span>
