<span>
    <span ng-if="!auth.isAuthenticated()">
        <md-button aria-label="Login" ng-click="auth.showLogin()">
            <md-icon>account_circle</md-icon>
            {{'AUTH.LOGIN' | translate }}
        </md-button>
    </span>
    <span ng-if="auth.isAuthenticated()">
        <md-menu>
            <md-button aria-label="User Information / Log-out" ng-click="$mdOpenMenu($event)" md-menu-origin md-menu-align-target>
                <md-icon><i class="material-icons">face</i></md-icon>
                {{auth.currentUser().strNomeUsuario}}
            </md-button>
            <md-menu-content>
                <md-button aria-label="Log-out" ng-click="auth.logout()">
                    <md-icon>exit_to_app</md-icon>
                    {{'AUTH.LOGOUT' | translate }}
                </md-button>
            </md-menu-content>
        </md-menu>
    </span>
</span>
