<md-dialog flex-gt-lg='50' flex-lg='65' flex-md='70' flex-sm='100' style='max-width:500px;' aria-label='Language dialog'>
    <md-dialog-content layout="column" layout-align="start">
            <md-button aria-label="Português" ng-click="language.changeLanguage('pt-BR')" >
                <md-icon>language</md-icon> Português
            </md-button>
            <md-button aria-label="English" ng-click="language.changeLanguage('en-US')">
                <md-icon>language</md-icon> English
            </md-button>
            <md-button aria-label="Français" ng-click="language.changeLanguage('fr-FR')">
                <md-icon>language</md-icon> Français
            </md-button>
            <md-button aria-label="Español" ng-click="language.changeLanguage('es-ES')">
                <md-icon>language</md-icon> Español
            </md-button>
    </md-dialog-content>
</md-dialog>
